.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }

canvas{
  background-color: white;
  border: 5px ridge;
  
}

body{
  text-align:center;
  
  
}